.sidebar-item {
    display: flex;
    align-items: center;

    border: 1px solid black;
    border-radius: 10px;

    margin-top: 10px;
    padding: 3px;
}

.icon {
    color: green;
    transition: 0.3s;
    transform: scale(1.);
}

.sidebar-item:hover {
    cursor: pointer;
    background-color: rgb(213, 213, 213);
}

.sidebar-item:hover > .icon {
    color: rgb(0, 210, 0);
}
