.card-img-top {
    transition: 0.3s;
    width: 150px;
    height: 100%;
}

.Movie {
    display: flex;
    margin: 10px;
    background: rgb(255, 255, 255);
    transition: 0.3s;
}
.container {
    display: block;
}

.Movie:hover {
    cursor: pointer;
    box-shadow: 3px 3px #c64343, 6px 6px #d1d1d1;
    background: rgb(82, 102, 255);
}

