.card-img-top {
    width: 40%;
    height: 100%;
    transition: 0.6s;
}

.Movie {
    display: flex;
    margin: 10px;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    max-height: 100%;
    width: 70vh;
    overflow: hidden;
}
.container {
    display: block;
}

.card__info {
    position: absolute;
    display: none;

    padding: 20px;
}

.Movie:hover {
    cursor: pointer;
    box-shadow: 6px 6px #356b31cf, 6px 6px #d1d1d1;
}

.Movie:hover > .card-img-top {
  transform: scale(1.1);
}

.rating {
  width: 90px;
  height: 90px;
  text-align: center;
  border: 6px solid green;
  border-radius: 50%;
  position: relative;
}

.rating__text {
  position: absolute;
  top: calc(50%);
  left: calc(50%);

  transform: translate(-50%, -50%);
}