.container-fluid {
  display: flex;
  flex: flex-end;
}
@media screen and (max-width: 768px) {
  .Sidebar {
    display: none;
  }

  .container-fluid {
    display: none;
  }

  .container {
    display: block;
  }
}